.parent{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    filter: blur(2px);
}
.parent img{
    height: 250px;
    width: 350px;
}
.child{
    flex-basis: 30.3%;
    position: relative;
    overflow: hidden;
}
.child h1{
    font-family: poppins;
}
.child1{
position: absolute;
top: 50%;
left: 23%;
color: white;
font-family: poppins;
}
.namelog{
    border-radius: 30px;
    height: 50px;
    width: 300px;
}
#log1{
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227,228,237,0.37);
    font-family: Outfit;
}
.link-section {
  margin-top: 20px;
  text-align: center;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin:30px;
}

.link-container a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #f8d568;
  color: #000;
  font-weight: 500;
  transition: 0.3s ease;
}

.link-container a:hover {
  background-color: #ffc107;
  color: #fff;
}
@media(max-width:420px){
    .child{
        flex-basis: 100%;
    }
    .parent img{
        height: 200px;
        width: 300px;
    }
}