.backkanya{
    background-image: url('../../assest/Images/Thiruvalluvar2.jpeg');
    background-size:cover;
    background-position: center;
    height:100vh;
}
.aboutk{
    padding:30px;
    font-family: sans-serif;
}
.backkanya h1{
    color:black;
    font-family: poppins;
    font-weight: bold;
}
.Timeandvehicle{
    display: flex;
    gap:50px;
    padding:30px;
    cursor: pointer;
}
.Timeandvehicle h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size:25px;
}
.linek{
    color: darkmagenta;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:black;
}
.Travel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:30px;
    padding: 30px;
}
.Travel div{
    height: 200px;
    width: 300px;
    padding: 5px;
    border-width: 2px;
    border-color: darkmagenta;
    border-style: solid;
    border-radius: 20px;
}
.icon{
    font-size: 45px;
    color: darkmagenta;
}
@media(max-width:480px){
    .backkanya{
        background-image: url('../../assest//Images/T2.webp');
        height: 400px;
    }
    .backkanya h1{
        color:yellow;
        padding-top: 200px;
    }
    .Travel div{
        flex-basis: 100%;
    }
}
@media(max-width:760px) {
    .Travel div{
        flex-basis: 100%;
    }
    
}