.backmarina{
    background-image: url('../../assest//Images//Marina2.webp');
    background-size:cover;
    background-position: center;
    height:100vh;
    object-fit: cover;
}
@media(max-width:420px){
    .backmarina{
        background-image: url('../../assest//Images//Marina2.webp');
        background-position: center;
        background-size: contain;
        height: 400px;
    }
    .backmarina h1{
        color:yellow;
        padding-top: 200px;
    }
}