.avlake{
    background-image: url('../../assest//Images//Avlake.webp');
    height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     font-family: poppins;
    font-weight: bold;
    color:yellow;
}
.kodailake{
     background-image: url('../../assest//Images//kodailake.webp');
    height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     font-family: poppins;
    font-weight: bold;
    color:yellow;
}
.lakeinooty{
    background-image: url('../../assest//Images//ootylake.webp');
    height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     font-family: poppins;
    font-weight: bold;
    color:yellow;

}